.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.rightCard, .leftCard {
  display: flex;
  flex-direction: column;
}

.leftCardContent, .rightCardContent {
  width: 250px;
  border: red 1px solid;
  height: 400px;
  overflow: auto;
  border-radius: 5px;

}

.leftCard ul,.rightCard ul{
  list-style: none;
  padding: 20px;
  text-align: left;
}
.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}